.container-inner {
    display: flex;
    flex-wrap: wrap;
    div.four {
        flex-basis: 100%;
        @media (min-width: 550px) {
            flex-basis: 50%;
        }
        @media (min-width: 750px) {
            flex-basis: 33%;
        }
        padding: 5px;
        box-sizing: border-box;
        >div {
            box-shadow: 0px 2px 10px 0px #e2dada8a;
            background: #fff;
            padding: 10px 15px;
            height: 100%;
            box-sizing: border-box;
        }
        h6 {
            margin-bottom: 4px;
            .distance {
                float: right;
                opacity: 0.4;
                font-family: 'Roboto', sans-serif;
                font-size: 1.3rem;
                img {
                    height: 20px;
                    vertical-align: middle;
                }
            }
        }
        p {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            &:empty {
                display: none;
            }
        }
        a.button {
            transition: all 0.3s;
            margin-top: 5px;
            &:hover {
                border: transparent;
                color: #fff;
                background: linear-gradient(to right, #ff6481, #ffb892);
                opacity: 0.7;
            }
        }
    }
}